* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    --accent-color: #ff523b;
    --small-text-color: #555;
    --radial-background-color: #ffd6d6;
    --dark-background-color: #563434;
}
body {
    font-family: "Poppins", sans-serif;
}
/* Navigation Section Start */
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: var(--small-text-color);
}
p {
    color: var(--small-text-color);
}
/* Navigation Section End */

/* Container Start */

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* Container End? */

/* Header/Banner Section Start */
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn {
    display: inline-block;
    background: var(--accent-color);
    color: #fff; 
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background .5s;
}
.btn:hover {
    background: var(--dark-background-color);
}
.header {
    background: radial-gradient(#fff, var(--radial-background-color));
    /* custom line below to optimize the landing page */
    height: 100vh;
}
.header .row {
    margin-top: 70px;
}
/* Header/Banner Section End */

/* Featured Categories Section Start */
.categories {
    margin: 70px 0;
}
.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img {
    width: 100%;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* Featured Categories Section End */

/* Featured Products Section Start */
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform .5s;
}
.col-4 img {
    width: 100%;
}
.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: var(--small-text-color)
}
.title::after {
    content: "";
    background: var(--accent-color);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4 {
    color: var(--small-text-color);
    font-weight: normal;
}
.col-4 p {
    font-size: 14px;
}
/* hey remember to have the parent class (.rating) as well, separated by a comma */
.rating .fa-star, .rating .fa-star-half-stroke {
    color: var(--accent-color)
}
.col-4:hover {
    transform: translateY(-5px);
}
/* Featured Products Section End */

/* Offer Section Start */
.offer {
    background: radial-gradient(#fff, var(--radial-background-color));
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img {
    padding: 50px;
}
small {
    color: var(--small-text-color);
}
/* Offer Section End */

/* Testimonial Section Start */
.testimonial {
    padding-top: 100px;
}
.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform .5s;
}
.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover {
    transform: translateY(-10px);
}
.fa-quote-left {
    font-size: 34px;
    color: var(--accent-color);
}
.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3 {
    font-weight: 600;
    color: var(--small-text-color);
    font-size: 16px;
}
/* Testimonial Section End */

/* Brands Section Start */
.brands {
    margin: 100px auto;
}
.col-5 {
    width: 160px;  
}
.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover {
    filter: grayscale(0%);
}
/* Brands Section End */

/* Footer Section Start */
.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p {
    color: #8a8a8a;
}
.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1 {
    flex-basis: 30%;
}
.footer-col-2 {
    flex: 1;
    text-align: center;
}
.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}
ul {
    list-style-type: none;
}
.app-logo {
    margin-top: 20px;
}
.app-logo img {
    width: 140px;
}
.footer hr {
    border: none;
    background: #b5b5b5;;
    height: 1px;
    margin: 20px 0;
}
.copyright {
    text-align: center;
}
/* Footer Section End */

/* Menu styling, including media query */
.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}
@media only screen and (max-width:800px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}