* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    --accent-color: #ff523b;
    --small-text-color: #555;
    --radial-background-color: #ffd6d6;
}
/* Navigation Section Start */
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: var(--small-text-color);
}
p {
    color: var(--small-text-color);
}
/* Navigation Section End */

/* Container Start */

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* Container End? */

/* Header/Banner Section Start */
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn {
    display: inline-block;
    background: var(--accent-color);
    color: #fff; 
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.header {
    background: radial-gradient(#fff, var(--radial-background-color));
}
/* Header/Banner Section End */